// SPDX-License-Identifier: GPL-2.0-or-later OR MIT
/*
 * Copyright (C) 2026 Adlink
 *
 * https://www.adlinktech.com/products/Computer_on_Modules/SMARC/LEC-IMX95
 * https://www.adlinktech.com/products/computer_on_modules/SMARCStarterKits/I-Pi_SMARC_IMX95
 */

#include <dt-bindings/input/input.h>
#include <dt-bindings/net/ti-dp83867.h>
#include "imx95.dtsi"


/ {

	aliases {
		ethernet0 = &enetc_port0;
		ethernet1 = &enetc_port1;
		gpio0 = &gpio1;
		gpio1 = &gpio2;
		gpio2 = &gpio3;
		gpio3 = &gpio4;
		gpio4 = &gpio5;
		i2c0 = &lpi2c1;
		i2c1 = &lpi2c2;
		i2c2 = &lpi2c3;
		i2c3 = &lpi2c4;
		i2c4 = &lpi2c5;
		i2c5 = &lpi2c6;
		i2c6 = &lpi2c7;
		i2c7 = &lpi2c8;
		mmc0 = &usdhc1;
		mmc1 = &usdhc2;
		serial0 = &lpuart1;
		serial4 = &lpuart5;
		spi0 = &flexspi1;
                usb0 = &usb3_dwc3;
                usb1 = &usb2;
	};

	chosen {
		stdout-path = &lpuart1;
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0 0x80000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		linux_cma: linux,cma {
			compatible = "shared-dma-pool";
			alloc-ranges = <0 0x80000000 0 0x7f000000>;
			size = <0 0x3c000000>;
			linux,cma-default;
			reusable;
		};
	};

	reg_vref_1v8: regulator-1p8v {
		compatible = "regulator-fixed";
		regulator-max-microvolt = <1800000>;
		regulator-min-microvolt = <1800000>;
		regulator-name = "+V1.8_SW";
	};

	reg_3p3v: regulator-3p3v {
		compatible = "regulator-fixed";
		regulator-max-microvolt = <3300000>;
		regulator-min-microvolt = <3300000>;
		regulator-name = "+V3.3_SW";
	};

	chosen {
		bootargs = "console=ttyLP0,115200 earlycon";
	};

	reg_m2_pwr: regulator-m2-pwr {
		compatible = "regulator-fixed";
		regulator-name = "M.2-power";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		/*
		 * M.2 device only can be enabled(W_DISABLE1#) after all Power
		 * Rails reach their minimum operating voltage (PCI Express M.2
		 * Specification r5.1 3.1.4 Power-up Timing).
		 * Set a delay equal to the max value of Tsettle here.
		 */
		startup-delay-us = <5000>;
	};

	reg_slot_pwr: regulator-slot-pwr {
		compatible = "regulator-fixed";
		regulator-name = "PCIe slot-power";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
	};

	reg_usdhc2_vmmc: regulator-usdhc2 {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_reg_usdhc2_vmmc>;
		regulator-name = "VDD_SD2_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		gpio = <&gpio3 7 GPIO_ACTIVE_HIGH>;
		off-on-delay-us = <12000>;
	};

	reg_usb_vbus: regulator-vbus {
		compatible = "regulator-fixed";
		regulator-name = "USB_VBUS";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
	};

};
&usdhc1 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz", "sleep";
	pinctrl-0 = <&pinctrl_usdhc1>;
	pinctrl-1 = <&pinctrl_usdhc1_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc1_200mhz>;
	pinctrl-3 = <&pinctrl_usdhc1>;
	bus-width = <8>;
	non-removable;
	no-sdio;
	no-sd;
	status = "okay";
};

&usdhc2 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz", "sleep";
	pinctrl-0 = <&pinctrl_usdhc2>, <&pinctrl_usdhc2_gpio>;
	pinctrl-1 = <&pinctrl_usdhc2_100mhz>, <&pinctrl_usdhc2_gpio>;
	pinctrl-2 = <&pinctrl_usdhc2_200mhz>, <&pinctrl_usdhc2_gpio>;
	pinctrl-3 = <&pinctrl_usdhc2>, <&pinctrl_usdhc2_gpio>;
	cd-gpios = <&gpio3 0 GPIO_ACTIVE_LOW>;
	vmmc-supply = <&reg_usdhc2_vmmc>;
	bus-width = <4>;
	status = "okay";
};

&gpio2 {
	gpio-line-names =
		"SMARC_SPI0_CS0#",      /* 0  - GPIO_IO00 */
		"SMARC_SPI0_DIN",       /* 1  - GPIO_IO01 */
		"SMARC_SPI0_DO",        /* 2  - GPIO_IO02 */
		"SMARC_SPI0_CK",        /* 3  - GPIO_IO03 */
		"SMARC_SPI1_CS0#",      /* 4  - GPIO_IO04 */
		"SMARC_SPI1_DIN",       /* 5  - GPIO_IO05 */
		"SMARC_SPI1_DO",        /* 6  - GPIO_IO06 */
		"SMARC_SPI1_CK",        /* 7  - GPIO_IO07 */
		"SMARC_UART0_TXD",      /* 8  - GPIO_IO08 */
		"SMARC_UART0_RXD",      /* 9  - GPIO_IO09 */
		"SMARC_UART0_CTS_B",    /* 10 - GPIO_IO10 */
		"SMARC_UART0_RTS_B",    /* 11 - GPIO_IO11 */
		"SMARC_I2C_GP_DAT",     /* 12 - GPIO_IO12 */
		"SMARC_I2C_GP_CK",      /* 13 - GPIO_IO13 */
		"UART3_TXD_1V8",        /* 14 - GPIO_IO14 */
		"UART3_RXD_1V8",        /* 15 - GPIO_IO15 */
		"SAI3_TXC_1V8",         /* 16 - GPIO_IO16 */
		"SAI3_MCLK_1V8",        /* 17 - GPIO_IO17 */
		"SMB_INT_B_1V8",        /* 18 - GPIO_IO18 */
		"LVDS0_BKLT_PWM_1V8",   /* 19 - GPIO_IO19 */
		"SAI3_RXD_1V8",         /* 20 - GPIO_IO20 */
		"SAI3_TXD_1V8",         /* 21 - GPIO_IO21 */
		"FAN_PWM_1V8",          /* 22 - GPIO_IO22 */
		"LVDS1_BKLT_PWM_1V8",   /* 23 - GPIO_IO23 */
		"SPI6_SS1_1V8",         /* 24 - GPIO_IO24 */
		"SPI7_SS1_1V8",         /* 25 - GPIO_IO25 */
		"SAI3_TXFS_1V8",        /* 26 - GPIO_IO26 */
		"TPM_INT_N_1V8",        /* 27 - GPIO_IO27 */
		"SMARC_I2C_PM_DAT",     /* 28 - GPIO_IO28 */
		"SMARC_I2C_PM_CK",      /* 29 - GPIO_IO29 */
		"SMARC_CAN1_TX",        /* 30 - GPIO_IO30 (SMARC CAN1_H via transceiver) */
		"SMARC_CAN1_RX";        /* 31 - GPIO_IO31 (SMARC CAN1_L via transceiver) */
	status = "okay";
};

&gpio3 {
	gpio-line-names =
		"SD2_CD_B",
		"SD2_CLK",
		"SD2_CMD",
		"SD2_DATA0",
		"SD2_DATA1",
		"SD2_DATA2",
		"SD2_DATA3",
		"SD2_RST_B_1V8A3V",
		"SD1_CLK",
		"SD1_CMD",
		"SD1_DATA0",
		"SD1_DATA1",
		"SD1_DATA2",
		"SD1_DATA3",
		"SD1_DATA4",
		"SD1_DATA5",
		"SD1_DATA6",
		"SD1_DATA7",
		"SD1_STROBE",
		"SD2_VSEL_1V8",
		"SD3_CLK",
		"SD3_CMD",
		"SD3_DATA0",
		"SD3_DATA1",
		"SD3_DATA2",
		"SD3_DATA3",
		"CCM_CLKO1",
		"CCM_CLKO2",
		"DAP_TDI",
		"DAP_TMS_SWDIO",
		"DAP_TCLK_SWCLK",
		"DAP_TDO_TRACESWO";
	status = "okay";
};

&gpio4 {
	gpio-line-names =
		"ENET1_MDC",
		"ENET1_MDIO",
		"ENET1_TD3",
		"ENET1_TD2",
		"ENET1_TD1",
		"ENET1_TD0",
		"ENET1_TX_CTL",
		"ENET1_TXC",
		"ENET1_RX_CTL",
		"ENET1_RXC",
		"ENET1_RD0",
		"ENET1_RD1",
		"ENET1_RD2",
		"ENET1_RD3",
		"RTC_INT#_1V8",
		"IOEXP2_INT#_1V8",
		"ENET2_TD3",
		"ENET2_TD2",
		"ENET2_TD1",
		"ENET2_TD0",
		"ENET2_TX_CTL",
		"ENET2_TXC",
		"ENET2_RX_CTL",
		"ENET2_RXC",
		"ENET2_RD0",
		"ENET2_RD1",
		"ENET2_RD2",
		"ENET2_RD3",
		"CCM_CLKO3",
		"CCM_CLKO4";
	status = "okay";
};

&gpio5 {
	gpio-line-names =
		"QSPIA_DATA0",
		"QSPIA_DATA1",
		"QSPIA_DATA2",
		"QSPIA_DATA3",
		"SKU_CONFIG1_1V8",
		"SKU_CONFIG2_1V8",
		"SKU_CONFIG3_1V8",
		"SYS_STATUS_1V8",
		"SD2_WP_1V8",
		"QSPIA_SCLK",
		"QSPIA_nSS0",
		"SYS_RST#_1V8",
		"PCIE1_IMX_CLKREQ#_1V8",
		"MCU_INTB1_1V8",
		"MCU_INTB2_1V8",
		"PCIE2_IMX_CLKREQ#_1V8",
		"ENET1_INT_B_1V8",
		"ENET2_INT_B_1V8";
	status = "okay";
};

&scmi_iomuxc {
	pinctrl_emdio: emdiogrp {
		fsl,pins = <
			IMX95_PAD_ENET1_MDC__NETCMIX_TOP_NETC_MDC		0x50e
			IMX95_PAD_ENET1_MDIO__NETCMIX_TOP_NETC_MDIO		0x90e
		>;
	};

	pinctrl_enetc0: enetc0grp {
		fsl,pins = <
			IMX95_PAD_ENET1_TD3__NETCMIX_TOP_ETH0_RGMII_TD3		0x50e
			IMX95_PAD_ENET1_TD2__NETCMIX_TOP_ETH0_RGMII_TD2		0x50e
			IMX95_PAD_ENET1_TD1__NETCMIX_TOP_ETH0_RGMII_TD1		0x50e
			IMX95_PAD_ENET1_TD0__NETCMIX_TOP_ETH0_RGMII_TD0		0x50e
			IMX95_PAD_ENET1_TX_CTL__NETCMIX_TOP_ETH0_RGMII_TX_CTL	0x57e
			IMX95_PAD_ENET1_TXC__NETCMIX_TOP_ETH0_RGMII_TX_CLK	0x58e
			IMX95_PAD_ENET1_RX_CTL__NETCMIX_TOP_ETH0_RGMII_RX_CTL	0x57e
			IMX95_PAD_ENET1_RXC__NETCMIX_TOP_ETH0_RGMII_RX_CLK	0x58e
			IMX95_PAD_ENET1_RD0__NETCMIX_TOP_ETH0_RGMII_RD0		0x57e
			IMX95_PAD_ENET1_RD1__NETCMIX_TOP_ETH0_RGMII_RD1		0x57e
			IMX95_PAD_ENET1_RD2__NETCMIX_TOP_ETH0_RGMII_RD2		0x57e
			IMX95_PAD_ENET1_RD3__NETCMIX_TOP_ETH0_RGMII_RD3		0x57e
		>;
	};

	pinctrl_enetc1: enetc1grp {
		fsl,pins = <
			IMX95_PAD_ENET2_TD3__NETCMIX_TOP_ETH1_RGMII_TD3		0x57e
			IMX95_PAD_ENET2_TD2__NETCMIX_TOP_ETH1_RGMII_TD2		0x57e
			IMX95_PAD_ENET2_TD1__NETCMIX_TOP_ETH1_RGMII_TD1		0x57e
			IMX95_PAD_ENET2_TD0__NETCMIX_TOP_ETH1_RGMII_TD0		0x57e
			IMX95_PAD_ENET2_TX_CTL__NETCMIX_TOP_ETH1_RGMII_TX_CTL	0x57e
			IMX95_PAD_ENET2_TXC__NETCMIX_TOP_ETH1_RGMII_TX_CLK	0x5fe
			IMX95_PAD_ENET2_RX_CTL__NETCMIX_TOP_ETH1_RGMII_RX_CTL	0x57e
			IMX95_PAD_ENET2_RXC__NETCMIX_TOP_ETH1_RGMII_RX_CLK	0x5fe
			IMX95_PAD_ENET2_RD0__NETCMIX_TOP_ETH1_RGMII_RD0		0x57e
			IMX95_PAD_ENET2_RD1__NETCMIX_TOP_ETH1_RGMII_RD1		0x57e
			IMX95_PAD_ENET2_RD2__NETCMIX_TOP_ETH1_RGMII_RD2		0x57e
			IMX95_PAD_ENET2_RD3__NETCMIX_TOP_ETH1_RGMII_RD3		0x57e
		>;
	};

	pinctrl_hp: hpgrp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO11__GPIO2_IO_BIT11		0x31e
		>;
	};

	pinctrl_lpi2c1: lpi2c1grp {
		fsl,pins = <
			IMX95_PAD_I2C1_SCL__AONMIX_TOP_LPI2C1_SCL		0x40000b9e
			IMX95_PAD_I2C1_SDA__AONMIX_TOP_LPI2C1_SDA		0x40000b9e
		>;
	};

	pinctrl_lpi2c2: lpi2c2grp {
		fsl,pins = <
			IMX95_PAD_I2C2_SCL__AONMIX_TOP_LPI2C2_SCL		0x40000b9e
			IMX95_PAD_I2C2_SDA__AONMIX_TOP_LPI2C2_SDA		0x40000b9e
		>;
	};

	pinctrl_lpi2c3: lpi2c3grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO28__LPI2C3_SDA			0x40000b9e
			IMX95_PAD_GPIO_IO29__LPI2C3_SCL			0x40000b9e
		>;
	};

	pinctrl_lpi2c4: lpi2c4grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO30__LPI2C4_SDA			0x40000b9e
			IMX95_PAD_GPIO_IO31__LPI2C4_SCL			0x40000b9e
		>;
	};

	pinctrl_lpi2c5: lpi2c5grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO22__LPI2C5_SDA			0x40000b9e
			IMX95_PAD_GPIO_IO23__LPI2C5_SCL			0x40000b9e
		>;
	};

	pinctrl_lpi2c6: lpi2c6grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO02__LPI2C6_SDA			0x40000b9e
			IMX95_PAD_GPIO_IO03__LPI2C6_SCL			0x40000b9e
		>;
	};

	pinctrl_lpi2c7: lpi2c7grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO08__LPI2C7_SDA			0x40000b9e
			IMX95_PAD_GPIO_IO09__LPI2C7_SCL			0x40000b9e
		>;
	};

	pinctrl_lpspi7: lpspi7grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO04__GPIO2_IO_BIT4		0x3fe
			IMX95_PAD_GPIO_IO05__LPSPI7_SIN			0x3fe
			IMX95_PAD_GPIO_IO06__LPSPI7_SOUT		0x3fe
			IMX95_PAD_GPIO_IO07__LPSPI7_SCK			0x3fe
		>;
	};

	pinctrl_pcie0: pcie0grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO32__HSIOMIX_TOP_PCIE1_CLKREQ_B		0x4000031e
		>;
	};

	pinctrl_pcie1: pcie1grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO35__HSIOMIX_TOP_PCIE2_CLKREQ_B		0x4000031e
		>;
	};

	pinctrl_uart1: uart1grp {
		fsl,pins = <
			IMX95_PAD_UART1_RXD__AONMIX_TOP_LPUART1_RX      0x31e
			IMX95_PAD_UART1_TXD__AONMIX_TOP_LPUART1_TX      0x31e
		>;
	};

	pinctrl_uart5: uart5grp {
		fsl,pins = <
			IMX95_PAD_DAP_TDO_TRACESWO__LPUART5_TX		0x31e
			IMX95_PAD_DAP_TDI__LPUART5_RX			0x31e
			IMX95_PAD_DAP_TMS_SWDIO__LPUART5_RTS_B		0x31e
			IMX95_PAD_DAP_TCLK_SWCLK__LPUART5_CTS_B		0x31e
		>;
	};

	pinctrl_usdhc1: usdhc1grp {
		fsl,pins = <
			IMX95_PAD_SD1_CLK__USDHC1_CLK			0x158e
			IMX95_PAD_SD1_CMD__USDHC1_CMD			0x138e
			IMX95_PAD_SD1_DATA0__USDHC1_DATA0		0x138e
			IMX95_PAD_SD1_DATA1__USDHC1_DATA1		0x138e
			IMX95_PAD_SD1_DATA2__USDHC1_DATA2		0x138e
			IMX95_PAD_SD1_DATA3__USDHC1_DATA3		0x138e
			IMX95_PAD_SD1_DATA4__USDHC1_DATA4		0x138e
			IMX95_PAD_SD1_DATA5__USDHC1_DATA5		0x138e
			IMX95_PAD_SD1_DATA6__USDHC1_DATA6		0x138e
			IMX95_PAD_SD1_DATA7__USDHC1_DATA7		0x138e
			IMX95_PAD_SD1_STROBE__USDHC1_STROBE		0x158e
		>;
	};

	pinctrl_usdhc1_100mhz: usdhc1-100mhzgrp {
		fsl,pins = <
			IMX95_PAD_SD1_CLK__USDHC1_CLK			0x158e
			IMX95_PAD_SD1_CMD__USDHC1_CMD			0x138e
			IMX95_PAD_SD1_DATA0__USDHC1_DATA0		0x138e
			IMX95_PAD_SD1_DATA1__USDHC1_DATA1		0x138e
			IMX95_PAD_SD1_DATA2__USDHC1_DATA2		0x138e
			IMX95_PAD_SD1_DATA3__USDHC1_DATA3		0x138e
			IMX95_PAD_SD1_DATA4__USDHC1_DATA4		0x138e
			IMX95_PAD_SD1_DATA5__USDHC1_DATA5		0x138e
			IMX95_PAD_SD1_DATA6__USDHC1_DATA6		0x138e
			IMX95_PAD_SD1_DATA7__USDHC1_DATA7		0x138e
			IMX95_PAD_SD1_STROBE__USDHC1_STROBE		0x158e
		>;
	};

	pinctrl_usdhc1_200mhz: usdhc1-200mhzgrp {
		fsl,pins = <
			IMX95_PAD_SD1_CLK__USDHC1_CLK			0x15fe
			IMX95_PAD_SD1_CMD__USDHC1_CMD			0x13fe
			IMX95_PAD_SD1_DATA0__USDHC1_DATA0		0x13fe
			IMX95_PAD_SD1_DATA1__USDHC1_DATA1		0x13fe
			IMX95_PAD_SD1_DATA2__USDHC1_DATA2		0x13fe
			IMX95_PAD_SD1_DATA3__USDHC1_DATA3		0x13fe
			IMX95_PAD_SD1_DATA4__USDHC1_DATA4		0x13fe
			IMX95_PAD_SD1_DATA5__USDHC1_DATA5		0x13fe
			IMX95_PAD_SD1_DATA6__USDHC1_DATA6		0x13fe
			IMX95_PAD_SD1_DATA7__USDHC1_DATA7		0x13fe
			IMX95_PAD_SD1_STROBE__USDHC1_STROBE		0x15fe
		>;
	};

	pinctrl_reg_usdhc2_vmmc: regusdhc2vmmcgrp {
		fsl,pins = <
			IMX95_PAD_SD2_RESET_B__GPIO3_IO_BIT7		0x31e
		>;
	};

	pinctrl_typec: typecgrp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO34__GPIO5_IO_BIT14			0x31e
		>;
	};

	pinctrl_usdhc2_gpio: usdhc2gpiogrp {
		fsl,pins = <
			IMX95_PAD_SD2_CD_B__GPIO3_IO_BIT0		0x31e
		>;
	};

	pinctrl_usdhc2: usdhc2grp {
		fsl,pins = <
			IMX95_PAD_SD2_CLK__USDHC2_CLK			0x158e
			IMX95_PAD_SD2_CMD__USDHC2_CMD			0x138e
			IMX95_PAD_SD2_DATA0__USDHC2_DATA0		0x138e
			IMX95_PAD_SD2_DATA1__USDHC2_DATA1		0x138e
			IMX95_PAD_SD2_DATA2__USDHC2_DATA2		0x138e
			IMX95_PAD_SD2_DATA3__USDHC2_DATA3		0x138e
			IMX95_PAD_SD2_VSELECT__USDHC2_VSELECT		0x51e
		>;
	};

	pinctrl_usdhc2_100mhz: usdhc2-100mhzgrp {
		fsl,pins = <
			IMX95_PAD_SD2_CLK__USDHC2_CLK			0x158e
			IMX95_PAD_SD2_CMD__USDHC2_CMD			0x138e
			IMX95_PAD_SD2_DATA0__USDHC2_DATA0		0x138e
			IMX95_PAD_SD2_DATA1__USDHC2_DATA1		0x138e
			IMX95_PAD_SD2_DATA2__USDHC2_DATA2		0x138e
			IMX95_PAD_SD2_DATA3__USDHC2_DATA3		0x138e
			IMX95_PAD_SD2_VSELECT__USDHC2_VSELECT		0x51e
		>;
	};

	pinctrl_usdhc2_200mhz: usdhc2-200mhzgrp {
		fsl,pins = <
			IMX95_PAD_SD2_CLK__USDHC2_CLK			0x158e
			IMX95_PAD_SD2_CMD__USDHC2_CMD			0x138e
			IMX95_PAD_SD2_DATA0__USDHC2_DATA0		0x138e
			IMX95_PAD_SD2_DATA1__USDHC2_DATA1		0x138e
			IMX95_PAD_SD2_DATA2__USDHC2_DATA2		0x138e
			IMX95_PAD_SD2_DATA3__USDHC2_DATA3		0x138e
			IMX95_PAD_SD2_VSELECT__USDHC2_VSELECT		0x51e
		>;
	};
};

